body{
    margin: 0;
    padding: 0;
    font-family: serif;
}
.cabecera{
    background-color: #ededed;
    margin: 0;
    padding: 0;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #000;
    margin-bottom: 50px;
    position: relative;
}
.cabecera-h1{
    text-align: center;
    display: block;
    position: relative;
    height: 2em;
    top: 0;
    left: 0;
    margin-top: 0px;
    border: #000 solid 1px;
    width: 100%;
}
.cabecera-img{
    width: 6em;
    height: 6em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;

}
.informacion{
    
    width:320px;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    font-size: 15px;
    display: inline-block;
    position: relative;
}
.h2-subtitle{
    font-size: 25px;
}


main{
    position: absolute;
 
    margin: 10px;
    padding: 10px;

}

.main-article-1{
    height: 270px;
    width: 200px;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    position: relative;

}
.main-article-2{
    height: 270px;
    width: 200px;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.main-article-3{
    height: 270px;
    width: 200px;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    display: inline-block;    
    margin: 10px;
    position: relative;
}
.main-article-img{
    
    height: 140px;
    width: 90px;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
}
.articulo{
    color: #000;
    text-decoration: none;
}
.main-article-1:hover,
.main-article-2:hover,
.main-article-3:hover{
    background-color: #ddd;
}