body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.cabecera{
    background-color: #ededed;
    margin: 0;
    padding: 0;
    height: 15%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #000;
    margin-bottom: 50px;
    position: relative;
}
.cabecera-h1{
    text-align: center;
    display: block;
    position: relative;
    height: 2.5em;
    top: 0;
    left: 0;
    margin-top: 0px;
    width: 100%;
}
.cabecera-img{
    width: 6em;
    height: 6em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;

}
.informacion{
    
    width:320px;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    font-size: 15px;
    display: inline-block;
    position: relative;
}
.h2-subtitle{
    font-size: 25px;
}


main{
    position: relative;
    margin: 10px;
    padding: 10px;

}

.main-article-1{
    
    width: 200px;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    position: relative;

}
.main-article-2{
    
    width: 200px;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.main-article-3{
    
    width: 200px;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    display: inline-block;    
    margin: 10px;
    position: relative;
}
.main-article-img{
    
    height: 140px;
    width: 90px;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
}
.main-article-img-E{
    
    height: 90px;
    width: 140px;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
}
.main-article-img-SM{
    
    height: 120px;
    width: 120px;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
}
.articulo{
    color: #000;
    text-decoration: none;
}
.main-article-1:hover,
.main-article-2:hover,
.main-article-3:hover{
    background-color: #ddd;
}
li{
    list-style: none;
}
.fotos-envido{
    width: 20em;
    height: 14em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;
    /*left:600px;
    bottom: 300px;*/
}
.fotos-vasos{
    width: 20em;
    height: 14em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;
    /*left:600px;
    bottom: 300px;*/
}
.fotos-elite{
    width: 12em;
    height: 12em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;
    /*left:600px;
    bottom: 300px;*/
}
.fotos-llaveros{
    width: 17em;
    height: 10em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;
    /*left:600px;
    bottom: 300px;*/ 
}
.caja_1{
    width: 70%;
    padding: 10px;
    background-color: #ededed;
    box-shadow: 0 0 2px #000;
    border-radius: 3px;
    display: inline-block;    
    margin: 10px;
    position: relative;
}
button{
    border: #000 solid 1px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
}
.a-boton{
    text-decoration: none;
    color: #fff;
}

footer{
    background-color: #ddd;
    position: absolute;
    text-align: justify;
    width: 100%;
    height: 50px;
    /*
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px;
    padding-right: 5px;*/
}
footer h6{
    margin: 10px;

}
/*4B*/
.main-article-img-PZ{
    
    height: 120px;
    width: 120px;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
}
.main-article-img-R{
    
    height: 150px;
    width: 120px;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
}
.main-article-img-P{
    
    height: 120px;
    width: 120px;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
}
.fotos-radio{
    width: 13em;
    height: 16em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;
    /*left:600px;
    bottom: 300px;*/   
}
.fotos-pan{
    width: 19em;
    height: 13em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;
    /*left:600px;
    bottom: 300px;*/   
}
.fotos-pizza{
    width: 19em;
    height: 13em;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    border: #000 solid 1px;
    /*left:600px;
    bottom: 300px;*/   
}